* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

canvas {
    border: none;
}

#cWindmill {
    position: fixed;
    top: 0;
}

#cRing {
    position: fixed;
    top: 0;
    right: 0;
}

#cMarshmallow1,
#cMarshmallow2,
#cMarshmallow3,
#cMarshmallow4,
#cMarshmallow5 {
    position: fixed;
    cursor: pointer;
}

#cWave,
#cFish {
    position: fixed;
    bottom: 0px;
}

#cHeart {
    position: fixed;
}

#choice {
    /* border: 1px solid red; */
    position: absolute;
    text-align: center;
    bottom: 200px;
    z-index: 100;
    display: none;
}

input {
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #B8B8BA;
    text-align: center;
}

#heart {
    margin-right: 150px;
    color: white;
    background: linear-gradient(to right, #FCEFF9, #FF5681, #F47BA8);
}

#out {
    margin-left: 150px;
    background-color: #F6F6F6;
}
